* text=auto

*.h         eol=crlf
*.cpp       eol=crlf
*.rc        eol=crlf
*.vcproj    eol=crlf
*.bat       eol=crlf
*.sln       eol=crlf
*.cmd       eol=crlf

* text eol=lf

*.ico       binary
*.eot       binary
*.svg       binary
*.ttf       binary
*.woff      binary
*.png       binary
*.psd       binary
*.ai        binary
*.exe       binary
*.jar       binary
*.pdf       binary
